<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e89adf9c-f004-4ce3-b6a8-4fbe1c02eb94/resourcegroups/resource1/providers/Microsoft.Web/sites/WeatherAppAPI20250207082422</ResourceId>
    <ResourceGroup>resource1</ResourceGroup>
    <ApiResourceId>/subscriptions/e89adf9c-f004-4ce3-b6a8-4fbe1c02eb94/resourceGroups/resource1/providers/Microsoft.ApiManagement/service/WeatherAppAPIapi/apis/WeatherAppAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://weatherappapi20250207082422.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1124c177-adf4-4643-b7d6-91cefac4416b</ProjectGuid>
    <MSDeployServiceURL>weatherappapi20250207082422.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WeatherAppAPI20250207082422</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>